
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


/* start navigation
padding: 25px 50px;
top and bottom paddings are 25px
right and left paddings are 50px 


adding: 25px 50px 75px;
top padding is 25px
right and left paddings are 50px
bottom padding is 75px
*/ 
body {
    background-image: url('./img/body-bg.png');
  }
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
    
}

.header_area .main-menu .navbar{
    padding: 1rem 15rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: var(--roboto);
    font-weight: 500;
   
    text-transform: uppercase;
    padding: 1.7rem;
    color: black;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
   
    -webkit-background-clip: text;
    -webkit-text-fill-color: blue;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: blue;
    background-clip: text;
}


/* end navigation */ 


/* Banner Area */ 



.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size: 4rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 8rem 0;
    padding-top: 150px;
    width: 90rem;
}


.footer-area{
 
    padding:50px 0 0 0;
}
.footer-area{
    padding:20px 0 20px 0;
}